<main class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
            <br>
            <h1> <%= title %> </h1>
            <br>

            <a href="/Business/add" class="btn btn-primary btn-lg"><i class="fas fa-user-plus"></i> Add new Business contact</a>
            <hr>

                <table class="table table-striped table-info table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" class="text-center">Contact Last Name</th>
                            <th scope="col" class="text-center">Contact First Name</th>
                            <th scope="col" class="text-center">Contact Number</th>
                            <th scope="col" class="text-center">Email Address</th>
                            <th scope="col" class="text-center">Edit Contact</th>
                            <th scope="col" class="text-center">Delete Contact</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(let count=0; count < business.length; count++) { %>

                        <tr>
                            <td class="text-center"><%= business[count].contactLastName %></td>                    
                            <td class="text-center"><%= business[count].contactFirstName%></td>
                            <td class="text-center"><%= business[count].contactNumber%></td>
                            <td class="text-center"><%= business[count].emailAddress%></td>
                            <td>
                                <a href="/Business/edit/<%= business[count]._id %>" class="btn btn-success btn-sm "><i class="fas fa-wrench"></i> Edit</a>
                            </td>
                            <td>
                                <a href="/Business/delete/<%= business[count]._id %>" class="btn btn-danger btn-sm "><i class="fas fa-user-times"></i> Delete</a></td>
                        </tr>
                        
                        <% } %>

                    </tbody>
                </table>
            </div>
        </div>
    </main>