<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<% if(title == 'Business Contacts') { %>
    <div class="row justify-content-md-center">
        <div class="col">

            <table class="table table-striped table-info table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Contact Last Name</th>
                        <th scope="col">Contact First Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Email Address</th>
                    </tr>
                </thead>
                <tbody>

                    <% for(let count=0; count < business.length; count++) { %>

                    <tr>
                        <td><%= business[count].contactLastName %></td>                    
                        <td><%= business[count].contactFirstName%></td>
                        <td><%= business[count].contactNumber%></td>
                        <td><%= business[count].emailAddress%></td>
                    </tr>
                    
                    <% } %>

                </tbody>
            </table>
<% } %>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  





