<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

  <!-- Main Message -->
  <main class="background">
    <h1 class="home">Thiago's Portfolio <%= title %> page</h1>
    
    <!-- Image with url section -->
    <section>
      <div><h3 class="home">My goal is to always <br> give my clients a fun <br> experience that always deliver  <br> the right message </h1> </div>
      <div>
        <img
          src="https://i.imgur.com/0wo5QLW.png"
          class="img-fluid"
          alt="A door to another universe with fog comming out of it  "
          onclick="enterVoid()"
        />
          <script>
          function enterVoid() {
          window.location.href = "/about";
          }
          </script>
      </div>
    </section>
</main>

  <%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>

